.form {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-around;
  width          : 50%;
}

.form>* {
  flex-basis: 45%;
  margin    : 1% 0;
}

.input * {
 width: 100%;
}

.form .rate_label {
  transform       : scale(.75);
  transform-origin: top left;
}
.add_button{
  flex-basis: 50%;
}