:root {
  --heart-hover-color: green;
}

.title {
  font-weight: bold;
  font-size  : 1.5em;
}

.aux-modal {
  position       : fixed;
  top            : 0;
  width          : 100vw;
  height         : 100vh;
  background     : rgba(0, 0, 0, 0.5);
  z-index        : 999;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.aux-modal>.modal {
  display: block;
}