@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "../node_modules/materialize-css/dist/css/materialize.min.css";

:root {
  --heart-color: rgb(232, 22, 22);
  --font: 'roboto'
  /* custom colors for add button
  --add-button-default : violet;
  --add-button-active  : purple; */
}

body {
  margin                 : 0;
  font-family            : var(--font);
}